---
import siteConfig from '../data/site-config';
---

<header class="mx-auto mb-12 w-full max-w-3xl sm:mb-16">
  {
    siteConfig.logo && siteConfig.logo?.src ? (
      <a href="/">
        <img src={siteConfig.logo.src} alt={siteConfig.logo.alt || ''} class="max-h-12" />
      </a>
    ) : (
      <a
        class="text-theme-foreground font-serif text-2xl leading-tight font-medium sm:text-4xl"
        href="/"
      >
        {siteConfig.title}
      </a>
    )
  }
  {siteConfig.subtitle && <p class="mt-1 text-sm leading-tight">{siteConfig.subtitle}</p>}
</header>
